{
  "repos": [
    {
      "source": "git@source-host:org/repo-one.git",
      "destination": "git@dest-host:org/repo-one.git"
    },
    {
      "source": "git@source-host:org/repo-two.git",
      "destination": "git@dest-host:org/repo-two.git"
    }
  ]
}
